In [2]:
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt
import json

In [16]:
r = requests.get('https://www.umweltbundesamt.de/api/air_data/v2/meta/json', params={'use':'measure', 'date_from':'2020-01-01'})
r.status_code
json_data = json.loads(r.text)
r.json()['stations'].keys()

AttributeError: 'list' object has no attribute 'keys'

In [7]:
stations = pd.json_normalize((r.json()['stations']), sep=',', max_level=2)
stations
#record_path=[k for k in r.json()['stations']]

,7,21,28,31,42,43,46,47,51,52,...,1945,1948,1949,1972,1973,1974,1990,2113,9404,9406
0,"[7, DEBB007, Elsterwerda, Elsterwerda, ELBA, 1...","[21, DEBB021, Potsdam-Zentrum, Potsdam, PDBA, ...","[28, DEBB029, Schwedt (Oder), Schwedt/Oder, SW...","[31, DEBB032, Eisenhüttenstadt, Eisenhüttensta...","[42, DEBB044, Cottbus, Bahnhofstr., Cottbus, C...","[43, DEBB045, Frankfurt (Oder), Leipziger Str....","[46, DEBB048, Neuruppin, Neuruppin, NEHA, 1998...","[47, DEBB049, Brandenburg, Neuendorfer Str., B...","[51, DEBB053, Hasenholz (Buckow), Buckow, HAHO...","[52, DEBB054, Potsdam, Zeppelinstr., Potsdam, ...",...,"[1945, DEUB001, Westerland, Westerland, , 1968...","[1948, DEUB004, Schauinsland, Oberried-Hofsgru...","[1949, DEUB005, Waldhof, Lüder-Langenbrügge, ,...","[1972, DEUB028, Zingst, Zingst, , 1991-09-01, ...","[1973, DEUB029, Schmücke, Gehlberg, , 1978-07-...","[1974, DEUB030, Neuglobsow, Neuglobsow, , 1969...","[1990, DEUB046, Forellenbach, Spiegelau, , 200...","[2113, DEBB110, Dallgow-Döberitz, Dallgow-Döbe...","[9404, DENW397, Düsseldorf-Eller, Düsseldorf, ...","[9406, DEHE150, Frankfurt-Niedwald, Frankfurt ..."